<div data-controller="modal">
  <button
      id="disqualify-btn"
      type="button"
      class="inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50"
      data-action="click->modal#show"
      >
      Disqualify
  </button>

  <dialog
      id="disqualify-dialog"
      class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transistion-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
      data-modal-target="dialog"
      >
      <div class="w-full bg-blue-200">
        You are outta here!
      </div>
  </dialog>
</div>
